body
{
    background-color: #7df9ff;
}

h1
{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 50px;
    text-align: center;
}

button
{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 60px;
    background-color: yellow;
    padding: 100px 200px;
    border-radius: 100px;
    border-color: white;
    box-shadow: 0 0 10px yellow, 0 0 20px gold, 0 0 30px goldenrod;
    
    
}

.container
{
    width: 100vw;
    display: flex;
    justify-content: center;
    
}